<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planhub.mapper.ActivityMapper">

    <select id="selectByUserIdOrderByCreatedAtDesc" resultType="com.planhub.entity.Activity">
        SELECT * FROM activities
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="selectListByUserIdOrderByCreatedAtDesc" resultType="com.planhub.entity.Activity">
        SELECT * FROM activities
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="selectListByUserIdAndIdIn" resultType="com.planhub.entity.Activity">
        SELECT * FROM activities
        WHERE user_id = #{userId}
        AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
